

/* 모바일 화면에서의 스타일 */
@media screen and (max-width: 599px) {
  .frame1{ width: 90%;display: inline-block;  margin-top: 131px; margin-left: 5ch; }
  .photo1{ width: 90%;display: inline-block;  border-style: solid; border-color: #3F5951; height: 400px;}
  .text1{width: 90%; font-weight: bolder; font-size: 50px; text-align: center;  
    display: inline-block;  background-color:  #A6A18D;
    color: #efefef;border-style: solid; border-color: #3F5951; height: 90px; line-height: 90px; margin-top: 13px;}
      


  .imgup{ position: relative; display: inline-block; }
  .imgup img{ max-width: 100%;}
  .imgup span.textup {position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: none; width: 100%; font-size: 70px; color: rgb(254, 175, 40); font-weight: 900; text-align: center;margin-left: 80px;}
  .imgup::before, .imgup::after{content: ''; position: absolute; top: 50%; left: 50%; width: 95%; height: 95%; transform: translate(-50%, -50%); transition: all .8s; margin-left: 80px;}
  .imgup::before{border-top: 7px solid rgb(255, 174, 0); border-bottom: 7px solid  rgb(255, 174, 0); width: 0;}
  .imgup::after{border-left: 7px solid  rgb(255, 174, 0); border-right: 7px solid  rgb(255, 174, 0); height: 0;}
  .imgup:hover span.textup{display: block;}
  .imgup:hover::before {width: 95%;}
  .imgup:hover::after{height: 95%;}

  

body, ul, li { margin: 0; padding: 0; list-style: none; }
   a{ color: inherit; text-decoration: none;}

   .menubox,ul{ background-color: #3F5951; z-index: 997; color: #3F5951;}
   .menubox>ul { display: inline-block; background-color: #3F5951;}
   .menubox{ color: #3F5951;position: fixed;  width: 100%;  text-align: left; z-index: 999; background-color: #3F5951;}
   .menubox>ul>li{ display: inline-block; color:#3F5951;}
   .menubox ul>li>a{   display: block;  font-weight: bold;  padding: 20px; }
   .menubox>ul li:hover>a{ background-color: rgb(254, 175, 40); color: white; }
   .menubox>ul ul{  position: absolute;  display: none; }
   .menubox ul>li:hover>ul{  background-color: #535945;  display: block; }
   .logo{  font-weight: bolder;  font-size: larger;color: white; }  

#logoo{color: white;}


body {margin: 0;background-color:  #D9BAA1; color: rgb(38, 51, 90); }
html {min-height: 100%;}
h2 {margin-top: 20%; width: 100%; font-size: 3rem; text-align: center; color: black;}
.title {margin: 0%; width: 100%; text-align: center;}

.bottom{
  margin-top: 200px;height: 200px; margin-bottom: 0px;width: 100%; background-color: rgb(145, 145, 145);
}

  #fixed_layer1 {
    position:fixed;
    z-index:1000;
    height:70px; width:20%;
    bottom:30px; 
    }
    #fixed_layer2 {
    position:fixed;
    z-index:1000;
    height:70px; width:50px;
    bottom:90px;
    }
    #fixed_layer3 {position:fixed; z-index:1000; height:70px; width:90px; bottom:200px; right:10px; font-size: large; font-weight: bolder;}
    #fixed_layer4 {
      position:fixed;
    z-index:1000;
    height:130px; width:90px;
    bottom:90px; right:20px;
    }
    
    #fixed_welcome{
      color: rgb(255, 255, 255);
      position: fixed;
      z-index: 1000;
      height:70px; width:200px;
      margin-top: 2px; right:5px;
      font-weight: bolder;
      font-size: larger;
    }
    #fixed_logo{
    
      position: fixed;
      z-index: 1001;
      height:100px; width:100px;
      margin-top: 0px; left:0;
      font-weight: bolder;
      font-size: larger;
    
    }
        /* 공통 스타일 */
body {
  font-family: 'Arial', sans-serif; 
}
  .text_big {
    color: white;
    font-display: auto;
    font-weight: bold;
    font-size: 35px;
    margin-left: 20%;
    text-shadow: -2px -2px 2px #3F5951, 2px -2px 2px #3F5951, -1px 1px 1px #3F5951, 1px 1px 1px #3F5951;
  }
  .text_small {
    color: white;
    font-display: auto;
    font-weight: bold;
    font-size:22px;
    margin-left: 5%;
    text-shadow: -1px -1px 1px #3F5951, 1px -1px 1px #3F5951, -1px 1px 1px #3F5951, 1px 1px 1px #3F5951;
  }
  .slideshow-container {
    position: relative;
      min-width: 100%;
      margin-top: 0%;
      margin: 0;
      height: 400px;
      background-color:  #cba687;
      
  }
  .slideshow-container img {

    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 60px;
   
}


.mySlides {
    display: none;
    animation: slide 1.5s ease-in-out; 
}


.text-container {
  position: absolute;
  top: 93%;
  left: 28%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
}

  @keyframes slide {
      from {
        left: 100%;
        opacity: 0.4;
      }

      to {
        left: 0;
        opacity: 1;
      }
    }
    body {
      margin: 0;
    }

/*---------팝업 설정------------*/
    #myModal {
      color: rgb(255, 140, 0);
      font-size: large;
      font-weight: bolder;
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #A6A18D;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
    #myModal p {
      margin: 0;
    }